doctype html
html(lang='en')
  head
    title e - Price CHECK Mo!
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(src='../javascripts/js/jquery.js')
    script(src='../javascripts/js/jquery.glide.js')
    link(rel='stylesheet', href='../stylesheets/css/index-style.css')
    link(rel='stylesheet', href='../stylesheets/css/index-animate.css')
    script(type='text/javascript', src='../javascripts/js/MyJQ.js')
    script(src='../javascripts/js/jquery.localScroll.min.js', type='text/javascript')
    script(src='../javascripts/js/jquery.scrollTo.min.js', type='text/javascript')
    script(src='../javascripts/js/wow.min.js', type='text/javascript')
    // scroll function
    script(type='text/javascript').
      $(document).ready(function() {
      $('#navigations').localScroll({duration:800});
      });
    script(src='../javascripts/js/wow.min.js')
    script.
      new WOW().init();
  body
    // ============ Navigation ============
    .headerwrapper
      #header.container
        .logo
          a(href='/')
            img(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/logo.png?raw=true', alt='logo', width='165', height='74')
        // end of Logo
        nav
          ul#navigations
            if (user)
              li
                asd You are logged in as #{user.username}
              li
                a(href='auth/logout') LOGOUT
            li
              a(href='/items') ITEMS
            li
              a(href='/contact') CONTACT US
      // end of header
    // end of headerwrapper
    // ============ Slider ============
    .sliderwrapper
      #slider.container
        .slider
          ul.slides
            li.slide
              h5.wow.fadeInDown(data-wow-delay='0.8s') e-Price CHECK Mo 
              p.wow.fadeInUp(data-wow-delay='0.8s')
                | An online electronic component website for price checking.
                br
                | Less Hassle.
                br
                | Less Effort.
                br
                | Less Time for canvassing.
                br
                | More convinient.
              img.wow.fadeInRight(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/mainImage.jpg?raw=true', width='317', height='256', data-wow-delay='0.8s', alt='slide1img')
            li.slide
              h5.wow.fadeInDown(data-wow-delay='0.8s') About US.
              p.wow.fadeInUp(data-wow-delay='0.8s')
                | We are Team9
                br
                | Arjay Dala as Back-end
                br
                | Peach Dapitan as Front-end
                br
                | Follow us @ facebook.com/team9
              img.wow.fadeInRight(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/about.png?raw=true', width='317', height='256', data-wow-delay='0.8s', alt='slideimg2')
      // End of Slider
    // end of sliderwrapper
    // ============ Best Dishes ============
    .bestdisheswrapper
      #bestdishes.container
        h2.wow.fadeInUp(data-wow-delay='0.3s') ELECTRONIC COMPONENTS
        .slider
          ul.slides
            li.slide
              .item
                a(href='/items')
                  img.wow.flipInX(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/capacitor.jpg?raw=true', width='226', height='225', alt='sliderimg', data-wow-delay='.8s')
                h3 Capacitors
              // end of item
              .item2
                a(href='/items')
                  img.wow.flipInX(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/LED.jpg?raw=true', width='226', height='225', alt='sliderimg', data-wow-delay='.8s')
                h3 LED Lights
              // end of item
              .item3
                a(href='/items')
                  img.wow.flipInX(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/resistor.jpg?raw=true', width='226', height='225', alt='sliderimg', data-wow-delay='.8s')
                h3 Resistors
              // end of item
            li.slide
              .item
                a(href='/items')
                  img(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/7segments.jpg?raw=true', width='226', height='225', alt='sliderimg')
                h3 7-Segments
              // end of item
              .item2
                a(href='/items')
                  img(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/diodes.jpg?raw=true', width='226', height='225', alt='sliderimg')
                h3 Diodes
              // end of item
              .item3
                a(href='/items')
                  img(src='https://github.com/Rjycpnsdl/eprice-t9/blob/master/images/IC.jpg?raw=true', width='226', height='225', alt='sliderimg')
                h3 Intergrated Circuits (IC)
    .copyrightswrapper
      #copyrights.container
        p
          | Copyright 2017
          | e-Price Check Mo
          |  All Rights Reserved
      // end of copyrights
    // end of website
    script(type='text/javascript').
      $('.sliderwrapper .slider').glide({
      autoplay: 7000,
      animationDuration: 3000,
      arrows: true,
      });
    script(type='text/javascript').
      $('.bestdisheswrapper .slider').glide({
      autoplay: false,
      animationDuration: 700,
      arrows: true,
      navigation:false,
      });
